.card {
    border-radius: 12px;
    padding: 14px;
    color: white;
    box-shadow: 0 6px 14px rgba(0,0,0,0.15);
    transition: all 0.3s;
    cursor: pointer;
}
.card:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.12);
}

.card h4 {
    margin: 0;
    font-size: 16px;
}

.type {
    display: block;
    font-size: 13px;
    opacity: 0.9;
}

.time {
    margin-top: 6px;
    font-size: 14px;
    font-weight: 600;
}
