* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

.sidebar {
    position: fixed;
    width: 240px;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #FFF;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 16px;
    border: 1px solid #9A9A9A;
}

.block {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.head {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #9A9A9A;
}
.head img {
    width: 104px;
    height: 104px;
}

.title {
    font-family: Roboto;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FDFDFD;
}

.nav {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 8px;
}

.link {
    width: 210px;
    height: 44px;
    padding-left: 16px;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    color: #9A9A9A;
    background-color: transparent;
    border-radius: 8px;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;

    &:hover {
        background-color: #cebafd;
        color: black;
        box-shadow: 0 0 1px rgba(0,0,0,0.3);
    }
    &:hover svg{
        color: black;
    }

} 
.link svg {
    display: flex;
    align-items: center;
    color: #9A9A9A;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
}

.active {
    background-color: #8B5CF6;
    color: white;
}
.active svg{
    color: white;
}
.link.active:hover {
    background-color: #8B5CF6; /* остаётся активным */
    color: white;
    box-shadow: none;          /* убираем тень */
}

.link.active:hover svg {
    color: white;
}


.span {
    display: flex;
    align-items: center;
    gap: 8px;
}

.cardTgBot {
  background: #f5f3ff;
  padding: 20px;
  border-radius: 16px;
  width: 230px;
  text-align: left;
  margin-top: 150px;
}

.headerTg {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;
}

.iconTg {
  color: #6c5ce7;
}

.textTg {
  font-size: 14px;
  color: #666;
  margin-bottom: 16px;
}

.buttonTg {
  display: block;
  width: 100%;
  padding: 12px 0;
  text-align: center;
  background: linear-gradient(90deg, #6c5ce7, #8e79ff);
  color: #fff;
  font-weight: 600;
  border-radius: 12px;
  text-decoration: none;
  transition: 0.2s ease;
}

.buttonTg:hover {
  opacity: 0.9;
}





.logout {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 210px;
    height: 40px;
    padding: 8px 16px;
    color: #9A9A9A;
    font-weight: 400;
    font-size: 16px;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 8px;
    gap: 8px;
    transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out, border 0.15s;
}
.logout svg {
    width: 24px;
    height: 24px;
    color: #FF8383;
}
.logout:hover {
    background-color: 9A9A9A;
    color: black;
    border: 1px solid #8B5CF6;
}